*,
*:before,
*:after {
	padding: 0px;
	margin: 0px;
}

html, 
body {
	height: 100%;
	width: 100%;
}

div.container,
div#mapa_coleta {
	margin: 0px !important;
	padding: 0px !important;
	height: 100%;
	width: 100%;
}

